.hl.lean span.inter-text,
span.doc-comment.token {
    color: var(--color-text-light) !important;
}

.long-shadow {
    box-shadow: 0px 14px 30px 0px rgba(35, 55, 139, 0.10), 0px 124px 74px 0px rgba(35, 55, 139, 0.05), 0px 55px 55px 0px rgba(35, 55, 139, 0.04);
}

.soft-shadow {
    box-shadow: 0px 6px 12px rgba(35, 55, 139, 0.06), 0px 12px 20px rgba(35, 55, 139, 0.04);
}

.white-blue-gradient {
    background: linear-gradient(135deg, #f0f4ff, #F2F5FF, #D5E1FF);
}

.dark-theme .white-blue-gradient {
    background: linear-gradient(130deg, #1a1c20 0%, #20232a 40%, #2a2f38 100%);
}

.hl.lean .tactic-state {
    background: var(--color-white) !important;
    color: var(--color-text) !important;
}

.dark-theme .hl.lean .token.binding-hl,
.hl.lean .literal.string:hover,
.hl.lean .token.typed:hover {
    background: #c5c5c521 !important;
}

.tippy-content {
    background: var(--color-white);
    color: var(--color-text) !important;
    border: 1px solid var(--color-border);
}

.hl.lean .hover-info code {
    color: var(--color-text) !important;
}

.tippy-box[data-theme~='lean'][data-placement^='top'] > .tippy-arrow::before {
  border-top-color: #ff0000;
}

@media (hover: hover) {
  .dark-theme .hl.lean .tactic:has(.tactic-toggle:not(:checked)) > label:hover {
    background-color: #444;
  }
}
