.copy-button {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 6px 12px;
    font-size: 0.8em;
    cursor: pointer;
    z-index: 10;
    opacity: 0;
    transition: 0.2s opacity;
    border: 1px solid var(--color-border);
    background: var(--color-bg);
    border-radius: 5px;
    color: var(--color-text);
}

.code-block-wrapper:hover .copy-button {
    opacity: 1;
}

.hero .copy-button {
    right: 0px;
    top: 0px;
}