.modal-backdrop {
    max-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.modal {
    background: var(--color-white);
    padding: 2rem;
    border-radius: 0.5rem;
    max-width: 500px;
    width: 90%;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 1s;
    max-height: calc(100vh - 40px);
    box-sizing: border-box;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.modal-close {
    color: var(--color-text);
    position: absolute;
    top: 0.5rem;
    right: 0.75rem;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.hidden {
    display: none;
    opacity: 0;
}

/* Modal for Step 2 */

.modal-content {
  padding: 2rem;
  border-radius: 1rem;
}

.modal-content h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
  padding-left: 0.5rem;
  text-align: center;
  margin: 0px !important; 
}

.steps {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
}

.step .screenshot, .step .gallery-item {
    width: 120px;
}

.step {
  display: flex;
  gap: 1rem;
  align-items: center;
  transition: transform 0.2s ease-in-out;
}

.step img {
  width: 120px !important;
  height: 120px !important;
  object-fit: cover;
  border-radius: 0.5rem;
  border: 1px solid #444;
  margin: 0px;
}

.step p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.4;
}

.modal-content a {
    text-align: center;
    width: 100%;
    padding-top: 20px;
    box-sizing: border-box;
    display: block;
    background: none !important;
    border: none !important;
}

@media (max-width: 768px) {
  .modal {
    border-radius: 0px;
  }
}