.no-js-warning {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
    padding: 0.75em;
    font-family: sans-serif;
    font-size: 1em;
    z-index: 9999;
}