.other-methods-selector {
    display: flex !important;
    flex-direction: column;
    gap: var(--gap-lg);
}

.other-methods-selector .selector-group {
    margin: auto;
}

.steps-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    transition: background-color var(--transition-base), border-color var(--transition-base);
    flex-direction: column;
    gap: 30px;
}

.steps-container .content {
    margin: 15px 0px;
}

.step-box {
    flex: 1;
    line-height: 1.3;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    justify-content: space-between;
}

.step-box>p {
    color: var(--color-text);
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.step-button {
    height: fit-content;
    background-color: var(--color-primary) !important;
    color: var(--color-text-contrast) !important;
    padding: var(--space-4) var(--space-6) !important;
    border-radius: var(--radius-md);
    text-decoration: none !important;
    text-align: center;
    display: inline-block;
    transition: background-color var(--transition-fast) ease !important;
    border: 0px !important;
    width: fit-content;
}

.step-button:hover {
    background-color: var(--color-primary-light);
}

.step-box h3 {
    font-weight: 600;
    color: var(--color-text);
    transition: color var(--transition-base);
    font-size: var(--fs-lg);
    padding: 0px;
    margin: 0px;
}

.step-title {
    font-weight: bold;
    font-size: 1.5rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}

.step-badge {
    font-size: 0.9rem;
    display: flex;
    gap: 10px;
}


.buttons {
    gap: 10px;
    display: flex;
    width: 100%;
}

@media (max-width: 768px) {
    .wrap {
        padding-top: 20px;
    }

    .steps-container {
        gap: 30px;
    }

    .buttons {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 1024px) {
    .buttons a {
        width: 100%;
        box-sizing: border-box;
    }
}

.step-box .content ul,
.step-box .content li,
.step-box .content p {
    margin: 0px;
    padding: 0px;
    margin-bottom: 0px !important;
    line-height: 1.4;
    font-size: 1rem;
}

.step-box .content li {
    margin-left: 17px;
}

.step-box .content .description {
    margin: 10px 0px;
}

.step-box .content ul {
    margin: 30px 10px !important;
}

.step-button.secondary {
    color: var(--color-primary) !important;
    background: transparent !important;
    box-sizing: border-box;
    height: 54px;
}