.gallery-card-content,
.gallery-card-image {
    flex: 1;
}

.gallery-card-content {
    padding: var(--space-12);
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 20px;
}

.gallery-tag {
    font-size: var(--fs-xs);
    font-weight: bold;
    color: var(--color-text-contrast);
    text-transform: uppercase;
    background: var(--color-primary);
    width: fit-content;
    padding: var(--space-1) var(--space-6);
    border-radius: var(--radius-pill);
}

.gallery-title {
    font-size: var(--fs-xl);
    font-weight: 700;
    color: var(--color-text);
}

.gallery-description {
    font-size: var(--fs-md);
    color: var(--color-text-light);
    line-height: 1.4;
}

.gallery-card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

@media (max-width: 768px) {
    .gallery-card-image {
        display: none;
    }
}

.gallery-body {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    width: 100%;
    overflow: hidden;
    background-color: var(--color-white);
    display: grid;
    height: 100%;
}

.gallery-body.active {
    display: grid !important;
}

.gallery-body:hover .read-more svg {
    transform: translateX(4px);
    opacity: 1;
}

@media (max-width: 768px) {
    .gallery-body {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

.selector-panels {
    max-width: 100%;
    width: 100%;
    display: grid;
    grid-template-areas: "slide";
}

.selector-button p {
    text-align: center;
}