.heading-section {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-4);
}

.heading-section > span {
    display: inline-block;
    background-color: var(--color-primary);
    color: var(--color-text-contrast);
    font-size: var(--fs-sm);
    padding: var(--space-1) var(--space-3);
    border-radius: var(--radius-pill);
    font-weight: 600;
}

.heading-title {
    font-size: var(--fs-2xl);
    font-weight: 700;
    font-family: var(--font-primary);
    margin: var(--space-1) 0;
    color: var(--color-text);
    transition: color var(--transition-base);
}

.heading-subtitle {
    font-size: var(--fs-md);
    color: var(--color-text-light);
    margin-top: var(--space-1);
    transition: color var(--transition-base);
    max-width: 768px;
}

.page-title {
    font-size: 2.5rem !important;
    margin-top: 4rem;
    font-weight: bold;
    text-align: left;
    padding: 0px !important;
    margin: 0px !important;
}

@media (max-width: 768px) {
    .heading-title {
        font-size: 2rem;
    }
}