
.button-container {
    display: flex;
    gap: 10px;
    margin: 30px 0px;
}

.btn {
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 10px 30px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    flex: 1;
    background: var(--card-bg) !important;
    border: 1px solid var(--color-border) !important;
    color: var(--color-text) !important;
    gap: 10px;
}